* {box-sizing: border-box;}

/* Style the input container */
.input-container {
  display: flex;
  width: 25%;
  margin-bottom: 15px;
  margin-left:auto;
  margin-right:auto;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
	margin:auto;
}
.center-me {
  margin: 0 auto;
}


.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 25%;
  opacity: 0.9;
   margin-left:auto;
  margin-right:auto;
  align:center;
}

.btn:hover {
  opacity: 1;
}