<!-- <!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Your Transaction Details</title>
<style type="text/css">
table, td, th {
	border: 1px solid black;
}
</style>
</head>
<body>

	<form action="/assign" method="post">
		<label>TRADERS</label> <select class="form-control" name="tid"
			id="tid">
			<option value="0">SELECT TRADER</option>
			<option th:each="u : ${unassignedtraderlist}" th:text="${u}">
			</option>
		</select><br /> <br /> <label>CURRENCY PAIR</label> <select
			class="form-control" name="currencypair" id="currencypair">
			<option value="0">Select Currency Pair</option>
			<option th:each="c : ${listofcurrencypair}" th:text="${c}">
			</option>
		</select> <br /> <br /> <span id='message'></span> <br /> <br /> <input
			type="submit" value="Submit" id="submit" class="btn">
	</form>
	<form action="/">
		<button type="submit"
			onclick="return confirm('Are you sure you want to log out');">
			Log out</button>
	</form>
</body>
</html>
<td th:if="${t.indicator == 'buy'}" th:text="${'sell'}"></td>
		<td th:if="${t.indicator == 'sell'}" th:text="${'buy'}"></td>
 -->






<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body{
height:100%;
background-position:center;

background-image:url("back4.jpeg");
background-repeat:no-reapeat;
background-size:cover;
}
h1 { font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }</style>
<meta charset="ISO-8859-1">
<title>Deal booking 1</title>
<link th:href="@{/riskmanager.css}" type="text/css" rel="stylesheet" />
<script src="jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
    var request = myCreateXMLHttpRequest();

    function myCreateXMLHttpRequest() {
        try { return new ActiveXObject("Msxml2.XMLHTTP"); } catch (e) { }
        try { return new ActiveXObject("Microsoft.XMLHTTP"); } catch (e) { }
        try { return new XMLHttpRequest(); } catch (e) { }
        return null;
    }

    function myOnKeyUp() {

        if (request != null) {
            var textField = document.getElementById("currencypair");
            var url = "/assigncpair?currencypair=" + textField.value ;
			
            request.open("GET", url, true);
            request.onreadystatechange = myHandleCallback;
            request.send(null);
        }
    }

    function myHandleCallback() {

        if (request.readyState == 4 && request.status == 200) {
            var outputField = document.getElementById("myEchoField");
            var result = request.responseText;
            //outputField.value = request.responseText;
            if(result === "success"){
            	document.getElementById("Button").disabled=false;
            	document.getElementById("myEchoField").style.color = "green";
            	outputField.value = "You can Assign this pair ";
            	
            }
            else{
            	document.getElementById("Button").disabled = true;
            	document.getElementById("myEchoField").style.color = "red";
            	outputField.value = "You cannot Assign this pair ";
            }
 
            
        }
    }
    </script>

</head>
<body>
<div style="
    line-height: 100%;
    height: 1;
    height: 5px;
">

  
  
  <div class="imgcontainer" style="
    text-align: -webkit-right;
">
<a href="/managerback">
    <img src="backbutton.png" title="BACK" alt="Avatar" class="avatar" style="
    width: 40px;
">
</a>
  </div>
  <div class="imgcontainer" style="
    text-align: -webkit-right;
">
<a href="/" onclick="return confirm('Are you sure you want to log out');">
    <img src="logout.png" alt="Avatar" title="LOGOUT" class="avatar" style="
    width: 42px;
">
</a>
  </div>
  </div>
	<form action="/assign" method="post" style="border:0">
		<h1 style="font-size: 50px">
			<center>TRADER-CURRENCY PAIR ASSIGNMENT</center>
		</h1>
		<br>
		<div class="fullborder" style="border-radius:15px;background-image:url(beige.jpg)">

			<div class="imgcontainer">
				<img src="tradeicon.png" alt="Avatar" class="avatar">
			</div>

			<div class="container">

				<div style="display: block">
					<label><b>TRADERS LIST</b></label>
					 <select class="form-control" required
					oninvalid="this.setCustomValidity('Please choose a Trader')"
    			oninput="this.setCustomValidity('')" 
						name="tid" id="tid" 
						style="width: 100%; padding: 12px 20px; margin: 8px 0;
						 display: inline-block; border: 1px solid #ccc; box-sizing: border-box;">
						 <option disabled selected value="" > -- Trader List -- </option>
						<option th:each="u : ${unassignedtraderlist}" th:text="${u}">
						</option>
					</select>
					<br /> <br />

					<div style="display: block">
						<label><b>CURRENCY PAIR LIST</b></label>
						 <select class="form-control"  required
							oninvalid="this.setCustomValidity('Please choose a Currency Pair')"
    						oninput="this.setCustomValidity('')"
							 name="currencypair" id="currencypair" 
							style="width: 100%; padding: 12px 20px; margin: 8px 0;
							 display: inline-block; border: 1px solid #ccc; box-sizing: border-box; " onclick="myOnKeyUp()">
							 <option disabled selected value="" > -- Select Currency -- </option>
							<option th:each="c : ${listofcurrencypair}" th:text="${c}">
							</option>
						</select>
						 <br />
					</div>
					<input type="text" id="myEchoField" readonly /><br/><br/>
					<button type="submit" id="Button" class="btn" >SUBMIT</button>
				</div>
			</div>
		</div>
	</form>
	<!--  <form action="/" method="post">
		<button type="submit"
			onclick="return confirm('Are you sure you want to log out');">
			Log Out</button>
	</form>
	<form action="/managerback" method="post">
		<button type="submit" onclick="return confirm('Are you sure you want to discard your updations');">Back</button>
	</form>
	-->
</body>
</html>