<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="ISO-8859-1">
<title>Book Your Deal</title>
<link th:href="@{/bookdeal2.css}" type="text/css" rel="stylesheet" />
<script src="jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
    var request = myCreateXMLHttpRequest();

    function myCreateXMLHttpRequest() {
        try { return new ActiveXObject("Msxml2.XMLHTTP"); } catch (e) { }
        try { return new ActiveXObject("Microsoft.XMLHTTP"); } catch (e) { }
        try { return new XMLHttpRequest(); } catch (e) { }
        return null;
    }
    function check(){
    	var pairs = document.getElementById("pairchosen");
        var bs = document.getElementById("buysell");
        var curr = document.getElementById("currency");
        var amo = document.getElementById("amount");
        var rate = document.getElementById("myEchoField");
        var res = document.getElementById("FinalResult");
        //console.log(pairs.value + " " + bs.value +" "+curr.value);
        if(pairs.value === "" || bs.value === "" || curr.value === "" || amo.value === "" )
        	{
        			window.alert("Fields cannot be left empty");	
        	}
        if(rate.value === "" || res.value === "")
        	{
        			window.alert("Plz check your price and amount before doing transaction by clicking get rates button");
        			//document.getElementById().disable()=
        			//document.getElementById("Button").disabled = true;
        	}
        else
        {
        	//document.getElementById("Button").disabled = false;
        		 if(! confirm("Confirm your transaction")){
        			 return false;
        		 }
        		else{
        			return true;
        		}
        			
        }
    }

    function myOnKeyUp() {

        if (request != null) {
            var pairs = document.getElementById("pairchosen");
            var bs = document.getElementById("buysell");
            var curr = document.getElementById("currency");
            var amo = document.getElementById("amount");
            //console.log(pairs.value + " " + bs.value +" "+curr.value);
            if(pairs.value === "" || bs.value === "" || curr.value === "" || amo.value === "")
            	{
            			window.alert("Fields cannot be left empty");	
            	}
            else
            {
            var url = "/cpairs?currencypair=" + pairs.value+"&buysell=" + bs.value+"&currency=" + curr.value+"&amount="+amo.value;
            request.open("GET", url, true);
            request.onreadystatechange = myHandleCallback;
           /* var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();
            if(mm == 4 || mm == 6 || mm == 9 || mm == 11) {
            	if(dd > 30){
            		mm = mm + 1;
            		dd = dd-30;
            	}
            }
            else if(mm == 2)  {
            	if(dd > 28){
            		if(yyyy%4==0){
            			mm = mm + 1;
            			dd = dd-29;
            			}
            		else{
            			mm = mm + 1;
            			dd = dd-28;
            			}
            	}
            }
            else {
            	if(dd >29){
            		mm = mm + 1;
            		dd = dd-29;	
            		}
            	}
            	
             if(dd<10){
                    dd='0'+dd
                } 
                if(mm<10){
                    mm='0'+mm
                } 

            today = yyyy+'-'+mm+'-'+dd;
            document.getElementById("day").setAttribute("min", today);
            //var outputField = document.getElementById("myEchoField");
//            outputField.value=bs.val+curr.val;
			//var result=outputField.value;*/
			
            request.send(null);
            }
        }
    }

    function myHandleCallback() {

        if (request.readyState == 4 && request.status == 200) {
            var outputField = document.getElementById("myEchoField");
            var Res = document.getElementById("FinalResult");
            var result = request.responseText;
            //var pairs = document.getElementById("pairchosen");
            var ar = result.split(" ");
            var bss = document.getElementById("buysell");
            var currs = document.getElementById("currency");
            var printresult=  ar[0];
			outputField.value=printresult;
            Res.value = ar[1];
            /*if(result === "success"){
            	document.getElementById("Button").disabled=false;
            	document.getElementById("myEchoField").style.color = "green";
            	outputField.value = "You can Assign this pair ";
            	
            }
            else{
            	document.getElementById("Button").disabled = true;
            	document.getElementById("myEchoField").style.color = "red";
            	outputField.value = "You cannot Assign this pair ";
            }*/
 
            
        }
    }
    </script>
<style>
body{
height:100%;
background-position:center;

background-image:url("back4.jpeg");
background-repeat:no-reapeat;
background-size:cover;
}
h1 { font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }
</style>
</head>
<body>
<div style="
    line-height: 100%;
    height: 1;
    height: 5px;
">

  
  
  <div class="imgcontainer" style="
    text-align: -webkit-right;
">
<a href="/clientback">
    <img src="backbutton.png" title="BACK" alt="Avatar" class="avatar" style="
    width: 40px;
">
</a>
  </div>
  <div class="imgcontainer" style="
    text-align: -webkit-right;
">
<a href="/" onclick="return confirm('Are you sure you want to log out');">
    <img src="logout.png" alt="Avatar" title="LOGOUT" class="avatar" style="
    width: 42px;
">
</a>
  </div>
  </div>
<h1 style="font-size:50px"><center>DEAL BOOKING</center></h1>
<br>
<div class = "fullborder" style="background-image:url(beige.jpg);border-radius:15px;">

 <div class="imgcontainer">
    <img src="tradeicon.png" alt="Avatar" class="avatar">
  </div>
  
  <div class="container">

	<form action="/add1" method="post" onsubmit="return check()">
		<b>PAIR CHOSEN:</b> <input type="text" th:value="${cpair}" name="pairchosen" id="pairchosen" readonly/>
		<br> <br>
		<div style="display:flex">
		<div style ="line-height:1.6;flex:1">
		<b>BUY / SELL: </b><select name="buysell" required id="buysell" class="form-control"
			oninvalid="this.setCustomValidity('Please choose Buy or Sell')"
			oninput="this.setCustomValidity('')"
		style="
    width: 156px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;">
		<option disabled selected value="">--SELECT--</option>
    	<option value="buy">BUY</option>
    	<option value="sell">SELL</option>
		</select>
		</div>
		<div style ="line-height:1.6;flex:2;padding-left: 56px">
		<b>CURRENCY:</b> <select required  class="form-control" name="currency" id="currency"
		oninvalid="this.setCustomValidity('Please choose the Deal Currency')"
			oninput="this.setCustomValidity('')"
		style="
    width: 156px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
">
     					<option disabled selected value="">--SELECT--</option>
     					<option th:each="p : ${pair}"
             					th:text="${p.BaseCurrency}">
             			</option>
             			<option th:each="p : ${pair}"
             					th:text="${p.TermCurrency}">
     					</option>
					</select>
				</div>	
				</div>
		<br> <br> <b>ENTER AMOUNT:</b><input required type="number" step="0.00001" min="1" id="amount" name="amount" style="
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
" />
		
		<br><br>
		<input type="button" value="Get Rates" id="getvalue" onclick="myOnKeyUp()" style="
		background-color: DARKCYAN; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;"/>
		<br><br>
		<b> RATES:</b> <input required type="text" id="myEchoField" 
		oninvalid="this.setCustomValidity('Please check your rates before doing transaction by clicking Get Rates button above')"
			oninput="this.setCustomValidity('')" readonly/>
		<br><br>
		<b>PRICE:</b> <input required type="text" id="FinalResult" name="finalresult" readonly/><br><br>
		<b> TRANSACTION DATE:</b><br><B><input required  type="DATE" value="2018-08-28" id ="day" name="day" max="2018-08-28" min="2018-08-28" style="
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
" /></B><br>	
<DIV STYLE="
    padding-left: 118px;
">
	<br><br><input type="submit" value="Submit" style="
		background-color: GREEN; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;"/>
	</DIV>
	</form>
	</div>
</div>
<!-- <form action="/clientback" method="post">
		<button type="submit" onclick="return confirm('Are you sure you want to discard your updations');">Back</button>
	</form>
	<form action="/" method="post">
		<button type="submit"
			onclick="return confirm('Are you sure you want to log out');">
			Log Out</button>
	</form>
	 -->
</body>
</html>

