<!-- <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Deal Booking</title>

<link th:href="@{/dealb.css}" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
     margin-left: auto;
	margin-right: auto;   
    width: 80%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: white;
}
</style>

</head>
<body>
<div class="w3-bar w3-black">
    <form action="/transactionsmapping">
    <button class="w3-bar-item w3-button tablink w3-red" onclick="openTab(event,'Transactions')">Transactions</button>
    </form>
        
  </div>
 
<script>
function openTab(evt, tabName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("tab");
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}
</script>
<body>
<br><br><br>

<h2 align="center" >DEALS HISTORY</h2>
<br>
<p th:text="'Welcome ' + ${clientid}"></p>
	<h1 style="font-size: 50px">
		<center>DEAL BOOKING</center>
	</h1>
	<br>
	<h2 style="font-size: 30px">
		<center>CURRENCY PAIR</center>
	</h2>


	<div class="imgcontainer">
		<img src="bicon1.png" alt="Avatar" class="avatar">
	</div>


	<div class="container">


		<br>
		<form action="/bookdeal" method="post">
			<label for="CurrencyPairs"><span>CURRENCY PAIR &nbsp;</span><select
				name="CurrencyPairs" class="select-field" required
				 oninvalid="this.setCustomValidity('Please choose a Currency Pair')"
    			oninput="this.setCustomValidity('')" 
				style="width: 200px; margin-left: -; height: 41px; padding-top: 12px;
				 padding-bottom: 12px; margin-top: 8px; margin-bottom: 8px; padding-left: 20px;
				  padding-right: 20px;">
				   		<option disabled selected value="">--Select Currency Pair--</option>
     					<option th:each="c : ${listofcurrencypair}"
             					th:text="${c}">
			</select></label>

			<button type="submit">SUBMIT</button>

		</form>
		<form action="/" method="post">
			<button type="submit"
				onclick="return confirm('Are you sure you want to log out');">
				Log Out</button>
		</form>
		<br />
	</div>
	<br>
	<br>


</body>
</html>
 --> 


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Deal Booking</title>

<link th:href="@{/dealb.css}" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
     margin-left: auto;
	margin-right: auto;   
    width: 80%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: white;
}
body{
height:100%;
background-position:center;

background-image:url("back4.jpeg");
background-repeat:no-reapeat;
background-size:cover;
}
h1 { font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 
</style>

</head>
<body>
<div class="w3-bar w3-black">

   
    <form action="/transactionsmapping">
    <button class="w3-bar-item w3-button tablink w3-red" onclick="openTab(event,'Transactions')" style="
    padding-bottom: 10px;
    margin-top: 3px;
">View Previous Transactions</button>
    </form>
        
  </div>
 
<script>
function openTab(evt, tabName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("tab");
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}
</script>
<body>
<div style="
    line-height: 100%;
    height: 1;
    height: 5px;
">

  
  <div class="imgcontainer" style="
    text-align: -webkit-right;
">
<a href="/" onclick="return confirm('Are you sure you want to log out');">
    <img src="logout.png" alt="Avatar" title="LOGOUT" class="avatar" style="
    width: 42px;
">
</a>
  </div>
  </div>
  <br>
  <br>
<div style="border:groove;border-radius:10px;height: 656px;width: 490px;margin: auto;background-image:url(beige.jpg)" >
<div style="font-family: "Times New Roman", Times, serif";>
<h1 style="font-size:400%;TEXT-ALIGN:CENTER"><p  th:text="'WELCOME ' + ${clientid}"></p></h1>
</div>
<br>
	<h1 style="font-size: 30px">
		<center>CURRENCY PAIR</center>
	</h1>


	<div class="imgcontainer">
		<img src="tradeicon.png" alt="Avatar" class="avatar" style="width:25%">
	</div>


	<div class="container">


		<br>
		
		<form action="/bookdeal" method="post" style="border:0">
			<label for="CurrencyPairs"><span>CURRENCY PAIR &nbsp;</span><select
				name="CurrencyPairs" class="select-field" required
				 oninvalid="this.setCustomValidity('Please choose a Currency Pair')"
    			oninput="this.setCustomValidity('')" 
				style="width: 200px; margin-left: -; height: 45px; padding-top: 12px;
				 padding-bottom: 12px; margin-top: 8px; margin-bottom: 8px; padding-left: 20px;
				  padding-right: 20px;">
				   		<option disabled selected value="">--Select Currency Pair--</option>
     					<option th:each="c : ${listofcurrencypair}"
             					th:text="${c}">
			</select></label>
<br>
<br>
			<button type="submit">SUBMIT</button>

	 	</form>
	 	</div>
	<!-- 	<form action="/">
			<button type="submit"
				onclick="return confirm('Are you sure you want to log out');">
				Log out</button>
		</form>
		-->
		<br />
	</div>
	<br>
	<br>


</body>
</html>