<!--  <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>assign bid offer rate for your currency pair</title>
</head>
<body>
<p th:text="'Welcome ' + ${clientid}"></p>
<p th:text="'Your Pair of currency is ' + ${hispair}"></p>
<form action="/pricecurrency" method="post">
<input type="text" placeholder="Enter bid price" id="bidprice" name="bidprice"/>
<input type="text" placeholder ="Enter offer price" id="offerprice" name="offerprice"/>
<input type="submit" value="submit"/>
</form>
<form action="/">
			<button type="submit"
				onclick="return confirm('Are you sure you want to log out');">
				Log out</button>
		</form>

</body>
</html>-->


<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Deal Pricing</title>
<link th:href="@{/tradercss.css}" type="text/css" rel="stylesheet" />
<STYLE>
body{
height:100%;
background-position:center;

background-image:url("back4.jpeg");
background-repeat:no-reapeat;
background-size:cover;
}
h1 { font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }
</STYLE>
</head>
<body onload='changeHashOnLoad();'>
	<script type="text/javascript">
		function changeHashOnLoad() {
			window.location.href += "#";
			setTimeout("changeHashAgain()", "50");
		}

		function changeHashAgain() {
			window.location.href += "1";
		}

		var storedHash = window.location.hash;
		window.setInterval(function() {
			if (window.location.hash != storedHash) {
				window.location.hash = storedHash;
			}
		}, 50);
	</script>
	<div style="
    line-height: 100%;
    height: 1;
    height: 5px;
">

  
  
  <div class="imgcontainer" style="
    text-align: -webkit-right;
">
<a href="/traderback">
    <img src="backbutton.png" title="BACK" alt="Avatar" class="avatar" style="
    width: 40px;
">
</a>
  </div>
  <div class="imgcontainer" style="
    text-align: -webkit-right;
">
<a href="/" onclick="return confirm('Are you sure you want to log out');">
    <img src="logout.png" alt="Avatar" title="LOGOUT" class="avatar" style="
    width: 42px;
">
</a>
  </div>
  </div>
	<form action="/pricecurrency" method="post" style="border:0">
		<h1 style="font-size: 50px">
			<center>DEAL PRICING</center>
		</h1>
		<br>
		<div class="fullborder" style="background-image:url(beige.jpg);border: groove;border-radius: 15px;">

			<div class="imgcontainer">
				<img src="tradeicon.png" alt="Avatar" class="avatar">
			</div>
			<!--  <h1 style="font-size:400%;TEXT-ALIGN:CENTER"><p  th:text="'WELCOME ' + ${hisname}"></p></h1>-->

			<div class="container">
				<label for="currencypair"><B>YOUR CURRENCY PAIR:</B></label> <b
					th:text="${hispair}"></b> <BR> <BR> 
					<label for="pbidrate"><b>CURRENT
						BID RATE</b></label> 
						<input type="number" id="pbidrate" name="pbidrate"  th:value="${bid}"  readonly style="
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
"/> 
					<BR> <BR>
					<label for="obidrate"><b>CURRENT OFFER
						 RATE</b></label> 
						<input type="number" id="pofferrate" name="pofferrate" th:value="${offer}" readonly style="
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
"/> 
					<BR> <BR> 
					<label for="bidrate"><b>SET
						BID RATE</b></label> 
						<input type="number" step="0.0001" id="bidrate" name="bidrate" required
					oninvalid="this.setCustomValidity('Please give a Bid Rate')"
					oninput="this.setCustomValidity('')" style="
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
"/> 
					<BR> <BR> 
					
					<label
					for="offerrate"><b>SET OFFER RATE</b></label> 
					<input type="number" step="0.0001"
					id="offerrate" name="offerrate" required
					oninvalid="this.setCustomValidity('Please give an Offer Rate')"
					oninput="this.setCustomValidity('')" style="
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
"/>
				<button type="submit">SUBMIT</button>
			</div>
		</div>
	</form>
	<!-- <form action="/" method="post">
		<button type="submit"
			onclick="return confirm('Are you sure you want to log out');">
			Log Out</button>
	</form>
	<form action="/traderback" method="post">
		<button type="submit"
			onclick="return confirm('Are you sure you want to discard your updations');">
			Back</button>
	</form>
		 -->
</body>
</html>