
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Your Rate: </title>
</head>
<body>
<form action="/add1" method="post">

<p th:text=${finalrate}></p>

<input type="date" id ="day" name="day" min="2018-08-13" required
oninvalid="this.setCustomValidity('Please Choose a Value Date')"
    			oninput="this.setCustomValidity('')" />
    			<br><br>

<script>
var today = new Date();
var dd = today.getDate()+3;
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
if(mm == 4 || mm == 6 || mm == 9 || mm == 11) {
	if(dd > 30){
		mm = mm + 1;
		dd = dd-30;
	}
}
else if(mm == 2)  {
	if(dd > 28){
		if(yyyy%4==0){
			mm = mm + 1;
			dd = dd-29;
			}
		else{
			mm = mm + 1;
			dd = dd-28;
			}
	}
}
else {
	if(dd >29){
		mm = mm + 1;
		dd = dd-29;	
		}
	}
	
 if(dd<10){
        dd='0'+dd
    } 
    if(mm<10){
        mm='0'+mm
    } 

today = yyyy+'-'+mm+'-'+dd;
document.getElementById("day").setAttribute("min", today);
</script>



<input type="submit" value="Submit">

</form>



</body>
</html>