<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>FX Trading</title>
	<style>
body{
background-position:top;
background-image:url("hr.png");
background-repeat:no-reapeat;
background-size:cover;
}
</style>
	
	<link th:href="@{/formstyle.css}" type="text/css" rel="stylesheet" />
</head>

<h1 style="text-align:center;"><font face="helvetica" color ="Black" size = "35">FX TRADING HOME PAGE</font></h1>
<br>
<br>
	
 <body >
<form action="/validate" method="post">

  
  <center><h2><font size = "20">LOGIN</font></h2></center>
  <br>
  <br>
  
  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" placeholder="Username" name="userid" id="userid">
  </div>
  

  

  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="password" placeholder="Password" name="password" id="password">
  </div>

 <center> <button type="submit" value="Submit" class="btn">Login</button></center>
 
</form>

	
</body>
</html>

