

<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Deal booking 1</title>
<link th:href="@{/riskmanagerhome.css}" type="text/css" rel="stylesheet" />
<style>
body{
height:100%;
background-position:center;

background-image:url("back4.jpeg");
background-repeat:no-reapeat;
background-size:cover;
}
h1 { font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }</style>
</head>
<body>
<div style="
    line-height: 100%;
    height: 1;
    height: 5px;
">

  
  

  <div class="imgcontainer" style="
    text-align: -webkit-right;
">
<a href="/" onclick="return confirm('Are you sure you want to log out');">
    <img src="logout.png" alt="Avatar" title="LOGOUT" class="avatar" style="
    width: 42px;
">
</a>
  </div>
  </div>
<h1 style="font-size:50px"><center>RISK MANAGER HOME PAGE</center></h1>
<br>
<div class = "fullborder" style="border-radius:15px;background-image:url(beige.jpg)";>

  <div class="imgcontainer">
    <img src="tradeicon.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
  <form action = "/transactionsmapping" method="post" style="border:0">
  <button type="submit">Full transactions</button>
  </form>
  <br>
  <form action = "/assigncurrencytotraders" method="post" style="border:0">
  <button type="submit">Assign currency to traders</button>
  </form>
  <br>
  
  <form action = "/tradercurrencypairs" method = "post" style="border:0">
  <button type="submit">Get Traders and their Currency Pairs</button>
  </form>
  <br>
  
       
  </div>

  
</div>
<!--  <form action="/" method="post">
		<button type="submit"
			onclick="return confirm('Are you sure you want to log out');">
			Log Out</button>
	</form>
	-->
</body>
</html>
