
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
     margin-left: auto;
	margin-right: auto;   
    width: 80%;
}
body{
height:100%;
background-position:center;

background-image:url("/back4.jpeg");
background-repeat:no-reapeat;
background-size:cover;
}
h1 { font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: white;
}
</style>
</head>


<div class="w3-container w3-black">
  <h1 align="center"><font face="times new roman">FX TRADING</font></h1>
</div>

 <div class="w3-bar w3-black">
      <form action="/transactionsmapping" method="post">
    <button class="w3-bar-item w3-button tablink w3-red" onclick="openTab(event,'Transactions')">Transactions</button>
    </form>
   
    
  </div>
 
<script>
function openTab(evt, tabName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("tab");
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}
</script>
<body>
<div style="
    line-height: 100%;
    height: 1;
    height: 5px;
">

  
  
  <div class="imgcontainer" style="
    text-align: -webkit-right;
">
<a href="/managerback">
    <img src="/backbutton.png" title="BACK" alt="Avatar" class="avatar" style="
    width: 40px;
">
</a>
  </div>
  <div class="imgcontainer" style="
    text-align: -webkit-right;
">
<a href="/" onclick="return confirm('Are you sure you want to log out');">
    <img src="/logout.png" alt="Avatar" title="LOGOUT" class="avatar" style="
    width: 42px;
">
</a>
  </div>
  </div>
<br><br><br>

<h1  style="font-size:50px"><center>TRADER-CURRENCY PAIR </center></h1>
<br>

<table id="customers" style="background-color:beige">
	<tr><th>TraderId</th><th>Currency Pair</th><th>BaseCurrency</th><th>TermCurrency</th><th>Bid</th><th>Offer</th><th>Update Trader</th><th>Delete Trader</th></tr>
	<tr th:each="t:${tradersandpairs}">
		<td th:text="${t.traderid}"></td>
		<td th:text="${t.cpair}"></td>
		<td th:text="${t.base}"></td>
		<td th:text="${t.term}"></td>
		<td th:text="${t.bid}"></td>
		<td th:text="${t.offer}"></td>
		<td><a th:href="'/updatetrader/' + ${t.traderid}"><span th:text="Update"></span></a></td>
		<td><a th:href="'/deletetrader/' + ${t.traderid}"  onclick="return confirm('Are you sure you want to delete this trader?');"><span th:text="Delete"></span></a></td>
	</tr>
</table>
<!--  <form action="/managerback" method="post">
		<button type="submit">Back</button>
	</form>
<form action="/" method="post">
		<button type="submit"
			onclick="return confirm('Are you sure you want to log out');">
			Log Out</button>
	</form>
-->
</body>
</html>

