<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
     margin-left: auto;
	margin-right: auto;   
    width: 80%;
}
body{
height:100%;
background-position:center;

background-image:url("back4.jpeg");
background-repeat:no-reapeat;
background-size:cover;
}
h1 { font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: white;
}
</style>
</head>


<div class="w3-container w3-black">
  <h1 align="center"><font face="times new roman">FX TRADING</font></h1>
</div>

 <div class="w3-bar w3-black">
  <form action="/mapping">
    <button class="w3-bar-item w3-button tablink " onclick="openTab(event,'Set Offer/Bid Rate')">Set Offer/Bid Rate</button>
    </form>
    <form action="/transactionsmapping">
    <button class="w3-bar-item w3-button tablink w3-red" onclick="openTab(event,'Transactions')">Transactions</button>
    </form>
    
  </div>
 
<script>
function openTab(evt, tabName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("tab");
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}
</script>
<body>
<div style="
    line-height: 100%;
    height: 1;
    height: 5px;
">

  
  

  <div class="imgcontainer" style="
    text-align: -webkit-right;
">
<a href="/" onclick="return confirm('Are you sure you want to log out');">
    <img src="logout.png" alt="Avatar" title="LOGOUT" class="avatar" style="
    width: 42px;
">
</a>
  </div>
  </div>
<br><br><br>

<h1  style="font-size:50px"><center>DEALS HISTORY</center></h1>
<br>

<table id="customers" style="background-color:beige">
<tr>
<th>Transaction Id</th>
<th>Currency Pair</th>
<th>Deal Currency</th>
<th>Indicator</th>
<th>Price</th>
<th>Deal Amount</th>
<th>Final Amount</th>
<th>Trade Date</th>
<th>Value Date</th>
</tr>
 <tr th:each="t:${trans}">
		<td th:text="${t.tid}"></td>
		<td th:text="${t.cpair}"></td>
		<td th:text="${t.dealcurrency}"></td>
		<td> <span th:if="${t.indicator} == 'buy'">sell</span>
		<span th:unless="${t.indicator} == 'buy'">buy</span>
		</td>
		<td th:text="${t.price}"></td>
		<td th:text="${t.dealamount}"></td>
		<td th:text="${t.finalamount}"></td>
		<td th:text="${t.tradedate}"></td>
		<td th:text="${t.valuedate}"></td>
		
	</tr> 
</table>
<!--  <form action="/" method="post">
			<button type="submit"
				onclick="return confirm('Are you sure you want to log out');">
				Log out</button>
		</form>
-->
</body>
</html>

