
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Updating Traders and currency pairs</title>

<link th:href="@{/trial.css}" type="text/css" rel="stylesheet" />
<STYLE>
body{
height:100%;
background-position:center;

background-image:url("/back4.jpeg");
background-repeat:no-reapeat;
background-size:cover;
}
h1 { font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }</STYLE>
    <script src="jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
    
    var request = myCreateXMLHttpRequest();

    function myCreateXMLHttpRequest() {
        try { return new ActiveXObject("Msxml2.XMLHTTP"); } catch (e) { }
        try { return new ActiveXObject("Microsoft.XMLHTTP"); } catch (e) { }
        try { return new XMLHttpRequest(); } catch (e) { }
        return null;
    }

    function myOnKeyUp() {

        if (request != null) {
            var textField = document.getElementById("currencypair");
            var url = "/cpair?currencypair=" + textField.value ;
			
            request.open("GET", url, true);
            request.onreadystatechange = myHandleCallback;
            request.send(null);
        }
    }

    function myHandleCallback() {

        if (request.readyState == 4 && request.status == 200) {
            var outputField = document.getElementById("myEchoField");
            var result = request.responseText;
            //outputField.value = request.responseText;
            if(result === "success"){
            	document.getElementById("Button").disabled=false;
            	document.getElementById("myEchoField").style.color = "green";
            	outputField.value = "You can Assign this pair ";
            	
            }
            else{
            	document.getElementById("Button").disabled = true;
            	document.getElementById("myEchoField").style.color = "red";
            	outputField.value = "You cannot Assign this pair ";
            }
 
            
        }
    }
    </script>


</head>
<body>
<div style="
    line-height: 100%;
    height: 1;
    height: 5px;
">
<div class="imgcontainer" style="
    text-align: -webkit-right;
">
<a href="/managerback" >
    <img src="/home.png" title="HOME" alt="Avatar" class="avatar" style="
    width: 40px;
">
</a>
  </div>
  
  <div class="imgcontainer" style="
    text-align: -webkit-right;
">
<a href="/managerupdateback" >
    <img src="/backbutton.png" title="BACK" alt="Avatar" class="avatar" style="
    width: 40px;
">
</a>
  </div>
  
  <div class="imgcontainer" style="
    text-align: -webkit-right;
">
<a href="/" onclick="return confirm('Are you sure you want to log out');">
    <img src="/logout.png" alt="Avatar" title="LOGOUT" class="avatar" style="
    width: 42px;
">
</a>
  </div>
  </div>
<h1 style="font-size:50px"><center>UPDATE TRADERS</center></h1>
<br>
<div class = "fullborder" style="border-radius:15px;background-image:url(/beige.jpg)">
<div class="imgcontainer">
    <img src="/tradeicon.png" alt="Avatar1" class="avatar">
  </div>
  <div class="container">
<form action="/save" method="post">

	<b>TRADER ID:</b> <input type="text" th:value="${traderid}" name="traderid" id="traderid" readonly/>
	
	<br>
	<br>
	<b>CURRENCY PAIR</b><br> <select class="form-control" name="currencypair" id="currencypair" onclick="myOnKeyUp()"
	required
			oninvalid="this.setCustomValidity('Please choose a Currency Pair')"
			oninput="this.setCustomValidity('')" style="
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
">
     					<option disabled selected value="">--Select Currency Pair--</option>
     					<option th:each="c : ${listofcurrencypair}"
             					th:text="${c}">
     					</option>
					</select>
					<input type="text" id="myEchoField" />
	<br>
	<br>	
	<DIV STYLE="
    padding-left: 118px;
">
	<input type="submit" value="SAVE" id="Button" style="
		background-color: GREEN; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;"/>
    </DIV>
	</form>
	</div>
</div>
<!-- <form action="/managerupdateback" method="post">
		<button type="submit" onclick="return confirm('Are you sure you want to discard your updations');">Back</button>
	</form>
<form action="/managerback" method="post">
		<button type="submit" onclick="return confirm('Are you sure you want to discard your updations');">Home</button>
	</form>
	<form action="/" method="post">
		<button type="submit"
			onclick="return confirm('Are you sure you want to log out');">
			Log Out</button>
	</form>
 -->
</body>
</html>

